includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    excludePaths:
        analyse:
            - workbench/*
            - workbench/**
        analyseAndScan:
            - workbench/*
            - workbench/**
    tmpDir: build/phpstan
